*{
    margin: 0;
    padding: 0px; 
}
:root{
    --font-family:'Cormorant SC', serif;
    --white-color : white;
}

body{
    
    background-color: #459ADC;
    display: flex;
    box-sizing: border-box;
       
}

.film-panel nav{
    text-align: start;
    position: relative;
    display: inline-block;
    top: 30%;
    justify-content: flex-end;
}

.film-panel a{

    color: var(--white-color);
    font-family: var(--font-family);
    width: 25%;
    padding: 24px 12px
    

}

.rating{

    color: var(--white-color);
    font-family: var(--font-family);
    }

 .rating p{
    top: 100%;
 }   