*{
    margin: 0;
    padding: 0px; 
}
:root{
    --font-family:'Cormorant SC', serif;
    --white-color : white;
}
body{
    
    background-image: url("/images/Logo.jpg");
    display: flex;
    box-sizing: border-box;
       
}

.logo {
    text-align: center;
    position: relative;
    top: 60%;
    left: 50%;
    color: var(--white-color);
    font-family: var(--font-family);
    font-size: 200%;
}

.navBar{
    width: 100%;
    text-align: center;
}

.navBar nav{
    text-align: center;
    position: relative;
    display: inline-block;
    top: 300%;
}
.navBar a {
    color: var(--white-color);
    font-family: var(--font-family);
}

/* .film-panel{
    width: 100%;
    text-align:start;
} */

